#index, #buy {

  #fullpage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;

    .section {
      height: 100vh;
      width: 100vw !important;
      background-color: #11141d;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .page-content {
        display: table;
        width: 100vw;
        height: 100vh;

        h1, h2 {
          color: white;
        }

        h2 {
          font-size: 2.688rem;

          @media only screen and (max-width: 40em) {
            font-size: 1.5rem;
          }

          @media only screen and (max-height: 50em) {
            font-size: 1.5rem;
          }
        }

        hgroup {
          margin-bottom: 4rem;

          @media only screen and (max-width: 40em) {
            margin-bottom: 1rem;
          }

          @media only screen and (max-height: 50em) {
            margin-bottom: 1rem;
          }

          span {
            color: rgba(white,.5);
            font-size: 1.8rem;

            @media only screen and (max-width: 64em) {
              font-size: 1.5rem;
              margin-bottom: 2rem;
            }

            @media only screen and (max-width: 40em) {
              font-size: 1rem;
              margin-bottom: 1rem;
            }

            @media only screen and (max-height: 50em) {
              font-size: 1rem;
              margin-bottom: 1rem;
            }
          }
        }
      }

      &.page-1 {
        background-image: url(../img/bg1.jpg);
        z-index: 90;

        .page-content {
          hgroup {
            h1 {
              font-size: 3.313rem;
              margin-bottom: 2rem;

              @media only screen and (max-width: 64em) {
                font-size: 2.5rem;
              }

              @media only screen and (max-width: 40em) {
                font-size: 1.5rem;
                margin-bottom: 1rem;
              }

              @media only screen and (max-height: 50em) {
                font-size: 1.5rem;
                margin-bottom: 1rem;
              }
            }
          }

          .btn-box {
            display: table;
            padding: 0 1rem;

            .win {
              color: white;
              margin: 1.5rem 0 15vh;
              display: inline-block;

              @media only screen and (max-width: 40em) {
                font-size: 0.75rem;
                margin: 1rem 0 2rem;
              }

              @media only screen and (max-height: 50em) {
                font-size: 0.75rem;
                margin: 1rem 0 2rem;
              }

              .fa {
                opacity: .5;
                font-size: 1.75rem;
                margin-right: .5rem;
                vertical-align: sub;

                @media only screen and (max-width: 40em) {
                  font-size: 1rem;
                }

                @media only screen and (max-height: 50em) {
                  font-size: 1rem;
                }
              }
            }
          }

          ul {
            @media only screen and (max-width: 64em) {
              padding: 0 3rem;
            }

            @media only screen and (max-width: 40em) {
              padding: 0 1rem;
            }

            @media only screen and (max-height: 50em) {
              padding: 0 1rem;
            }

            li {
              height: 3rem;
              color: white;
              display: table;
              padding: 0;
              font-size: 1.25rem;
              margin-bottom: 1.5rem;

              @media only screen and (max-width: 64em) {
                font-size: 1rem;
                height: 2rem;
                margin-bottom: 0.75rem;
              }

              p {
                text-align: left;

                @media only screen and (max-width: 64em) {
                  font-size: 0.875rem;
                  text-align: center;
                }

                @media only screen and (max-height: 50em) {
                  font-size: 0.875rem;
                  text-align: center;
                }

                img {
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 0.5rem;

                  @media only screen and (max-width: 40em) {
                    height: 2rem;
                  }

                  @media only screen and (max-height: 50em) {
                    height: 2rem;
                  }
                }
              }
            }
          }
        }
      }

      &.page-2 {
        z-index: 80;
        .page-content {

          .content-wrap {
            @media only screen and (max-width: 40em) {
              display: table-cell;
              vertical-align: middle;
            }

            @media only screen and (max-height: 50em) {
              display: table-cell;
              vertical-align: middle;
            }
          }

          .screen, .features {
            padding: 0;
            height: 100vh;

            @media only screen and (max-width: 40em) {
              height: auto;
            }
          }

          .screen {
            float: right;

            .screen-slider {
              height: 100vh;

              @media only screen and (max-width: 40em) {
                height: auto;
              }

              .screen-1, .screen-2, .screen-3 {
                height: 100vh;
                display: table;

                @media only screen and (max-width: 40em) {
                  width: 100vw !important;
                  height: auto;
                }

                img {
                  display: inline-block;
                  box-shadow: 0 0 2rem rgba(black,.3);
                  margin-bottom: 4rem;
                  width: 100%;
                  max-width: calc(100% - 7.5rem);

                  @media only screen and (max-width: 64em) {
                    max-width: calc(100% - 5rem);
                    margin-bottom: 0;
                  }

                  @media only screen and (max-width: 40em) {
                    max-width: calc(100% - 2rem);
                    margin-bottom: 0;
                  }

                  @media only screen and (max-height: 50em) {
                    max-width: calc(100% - 2rem);
                    margin-bottom: 0;
                    max-height: calc(100% - 20rem);
                  }
                }
              }
            }
          }

          .features {
            background: #0e1016;
            display: table;    
            float: right;

            @media only screen and (max-width: 40em) {
              padding-left: 0;
              margin-top: 3.5rem;
              background: none;
              margin-top: -10%;
            }

            @media only screen and (max-height: 50em) {
              padding-left: 0;
            }

            h2 {
              padding: 0 2rem;
              margin-bottom: 4rem;
              left: 8rem;

              @media only screen and (max-width: 64em) {
                left: 1.5rem;
                font-size: 1.5rem;
                margin-bottom: 2rem;
              }

              @media only screen and (max-width: 40em) {
                left: 0;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                text-align: center;
              }

              @media only screen and (max-height: 50em) {
                font-size: 1.5rem;
                margin-bottom: 1rem;
              }
            }

            .feature-list {
              left: 8rem;

              @media only screen and (max-width: 64em) {
                left: 2rem;
              }

              @media only screen and (max-width: 40em) {
                left: 0;
                margin-bottom: 0.5rem;
              }

              @media only screen and (max-height: 50em) {
                margin-bottom: 0.5rem;
              }

              li {
                @media only screen and (max-width: 40em) {
                  text-align: center;
                }

                span {
                  display: inline-block;
                  font-size: 1.5rem;
                  color: #717171;
                  padding: 1rem 2rem;
                  margin-bottom: 1.8rem;
                  cursor: pointer;
                  transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;

                  &:before {
                    content: " ";
                    background: url(../img/arrow.png) no-repeat center left;
                    width: 66px;
                    height: 58px;
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: -6rem;
                    margin-top: -29px;
                    transition: display 300ms ease-out;

                    @media only screen and (max-width: 64em) {
                      display: none;
                    }

                    @media only screen and (max-height: 50em) {
                      display: none;
                    }
                  }

                  @media only screen and (max-width: 93em) {
                    font-size: 1.25rem;
                  }

                  @media only screen and (max-width: 64em) {
                    font-size: 1rem;
                    line-height: 1.25;
                    padding: 0.75rem 1.5rem;
                    margin-bottom: 1rem;
                  }

                  @media only screen and (max-width: 40em) {
                    display: block;
                    font-size: 1rem;
                    width: calc(100% - 2rem);
                    margin: 0 auto;
                  }

                  @media only screen and (max-height: 50em) {
                    font-size: 1rem;
                  }

                  &:hover {
                    color: white;
                  }

                  &.active {
                    color: white;
                    border: 1px solid rgba(white,.25);
                    border-radius: 100rem;
                    transition: display 300ms ease-out;

                    &:before {
                      display: inline-block;
                      transition: display 300ms ease-out;

                      @media only screen and (max-width: 64em) {
                        display: none;
                      }

                      @media only screen and (max-height: 50em) {
                        display: none;
                      }
                    }
                  }
                }

                span + p {
                  display: none;
                }

                span.active + p {
                  display: block;
                }

                p {
                  color: white;
                  line-height: 1.5;
                  font-size: 1rem;
                  width: 65%;
                  transition: display 300ms ease-out;
                  margin-left: 2rem;
                  margin-top: -1rem;
                  margin-bottom: 1.5rem;

                  @media only screen and (max-width: 93em) {
                    width: 50%;
                  }

                  @media only screen and (max-width: 64em) {
                    margin-top: 0rem;
                    margin-left: 1.5rem;
                    font-size: 0.875rem;
                    margin-bottom: 1rem;
                  }

                  @media only screen and (max-width: 40em) {
                    display: none !important;
                  }

                  @media only screen and (max-height: 50em) {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
      }

      &.page-3, &.page-4 {
        z-index: 90;
        .page-content {
          hgroup {
            h2 {
              margin-bottom: 2rem;

              @media only screen and (max-width: 40em) {
                margin-bottom: 0.75rem;
              }

              @media only screen and (max-height: 50em) {
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }

      &.page-3 {
        background-image: url(../img/bg4.jpg);

        ul {
          li {
            display: table;
            height: 5.3rem;
            margin: 0.4rem 0;
            outline: none;

            @media only screen and (max-width: 40em) {
              height: 4rem;
              margin: 0.25rem 0;
            }

            @media only screen and (max-height: 50em) {
              height: 4rem;
              margin: 0.25rem 0;
            }

            p {
              color: #2d2d2d;
              font-size: 1.188rem;
              cursor: pointer;
              background: white;
              transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
              padding: .5rem;

              @media only screen and (max-width: 40em) {
                font-size: 1rem;
              }

              @media only screen and (max-height: 50em) {
                font-size: 1rem;
              }

              &:hover {
                background: #466fd9;
                color: white;
              }
            }
          }
        }

        .ask {
          position: absolute;
          bottom: 2.72rem;
          padding: 1.282rem 4rem;
          left: 50%;
          margin-left: -150px;
          z-index: 100;

          @media only screen and (max-width: 64em) {
            position: relative;
            bottom: auto;
            left: auto;
            margin-left: 0;
          }

          @media only screen and (max-width: 40em) {
            display: none;
          }

          @media only screen and (max-height: 50em) {
            display: none;
          }
        }

        .slick-arrow {
          font-size: 0px;
          padding: 0;
          background: none;
          transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;

          &:hover {
            opacity: .4;
          }

          &:before {
            font-family: FontAwesome;
            font-size: 2rem;
            display: block;
          }

          &.slick-prev {
            margin-bottom: 2rem;

            @media only screen and (max-width: 40em) {
              margin-bottom: 0;
            }

            @media only screen and (max-height: 50em) {
              margin-bottom: 0;
            }

            &:before {
              content: "\f106";
            }
          }

          &.slick-next {
            margin-top: 1.5rem;

            @media only screen and (max-width: 40em) {
              margin-top: 0;
            }

            @media only screen and (max-height: 50em) {
              margin-top: 0;
            }

            &:before {
              content: "\f107";
            }
          }
        }
      }

      &.page-4 {
        background-image: url(../img/bg5.jpg); 

        .page-content {
          ul {
            display: inline-block;
            margin-bottom: 4rem;

            @media only screen and (max-width: 40em) {
              margin-bottom: 1rem;
            }

            @media only screen and (max-height: 50em) {
              margin-bottom: 1rem;
            }

            li {
              display: inline-block;
              height: 38px;
              margin-bottom: 1rem;

              span {
                @media only screen and (max-width: 40em) {
                  width: 45%;
                  display: inline-block;
                }
              }

              img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.5rem;
              }

              .fa {
                vertical-align: middle;

                &.empty {
                  opacity: .3;
                }
              }
            }
          }
        }
      }
    }
  }

  #fp-nav {
    @media only screen and (max-width: 40em) {
      display: none;
    }

    &.right {
      right: 3.75rem;

      @media only screen and (max-width: 64em) {
        right: 2.5rem;
      }

      @media only screen and (max-height: 50em) {
        right: 2.5rem;
      }
    }

    ul {
      li {
        margin: 0 0 1rem;
        width: 12px;
        height: 12px;

        a {
          text-align: center;

          span {
            height: 8px;
            width: 8px;
            background: #868582;
            margin: -4px 0 0 -4px;
            transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out;

            &:hover {
              background: white;
            }
          }

          &.active {
            span {
              height: 12px;
              width: 12px;
              background: transparent;
              margin: -6px 0 0 -6px;
              border: 2px solid white;

              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}
