#virus, #file {
  hgroup {
    h4 {
      color: #2b2a2a;
      font-size: 2.375rem;
      margin-bottom: 1rem;
      line-height: 1.5;

      @media only screen and (max-width: 40em) {
        font-size: 1.75rem;
      }
    }

    p {
      color: #969696;
      margin-bottom: 1rem;
      line-height: 1.5;

      @media only screen and (max-width: 40em) {
        font-size: 0.875rem;
      }
    }
  }

  .file-name {
    padding-top: 8.5rem;

    h3 {
      margin-bottom: 1rem;

      @media only screen and (max-width: 40em) {
        margin-bottom: 2.5rem;
      }
    }

    .found, .removed, .screen, .win {
      padding: 0;

      @media only screen and (max-width: 40em) {
        display: none;
      }

      p {
        color: rgba(white,.4);
        padding-top: 12rem;

        @media only screen and (max-width: 64em) {
         padding-top: 8rem;
        }

        span {
          font-size: 2.5rem;
          color: white;
          display: block;
        }
      }

      &.screen, &.win {
        padding: 4rem 2rem 0;
        margin-bottom: 8.75rem;

        .lens {
          background: url(../img/lens-screen.png) no-repeat center;
          width: 313px;
          height: 313px;
          display: table;
          top: 0;
          left: 50%;
          margin-left: -157px;
          position: absolute;

          span {
            color: #df4045;
            width: 100%;
            padding: 3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      &.win {
        .lens {
          background: url(../img/lens-win.png) no-repeat center;

          span {
            top: 0.5rem;
          }
        }
      }

      &.removed {
        text-align: right;
      }
    }
  }

  .threat-description {
    background: #e6eaf0;

    @media only screen and (max-width: 64em) {
      padding: 0 1rem;
    }

    @media only screen and (max-width: 40em) {
      padding: 0;
    }

    .desc-block {
      margin-bottom: 2.5rem;
    }

    .recommendations {
      background: white;
      padding: 2.5rem 1rem;
      margin-top: -8.75rem;
      box-shadow: 0 -6rem 10rem black;
      display: inline-table;
      vertical-align: top;
      width: 100%;

      p {
        color: #969696;
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: 64em) {
        margin-bottom: 1rem;
      }

      @media only screen and (max-height: 50em) {
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: 40em) {
        margin-top: 0;
        box-shadow: none;
      }
    }

    table {
      width: 100%;
      border-collapse: separate;

      &.file {
        td {
          color: rgba(black,.5) !important;
        }

        ul {
          li {
            @media only screen and (max-width: 40em) {
              width: 11rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        p {
          color: #2b2a2a;

          i {
            color: #4f72cc;
          }
        }
      }

      tr {
        background: white;
        color: #2b2a2a;

        &:first-of-type {
          td {
            color: rgba(black,.5);
          }
        }

        &:last-of-type {
          border-bottom: none;
        }

        th {
          border-right: 1px solid #e5e5e5;
          border-bottom: 1px solid #E5E5E5;
          font-size: 1.375rem;
          line-height: 1.5;
          width: 20%;
          padding: 1.75rem;

          @media only screen and (max-width: 40em) {
            font-size: 1rem;
            padding: 1rem;
          }
        }

        td {
          color: #2b2a2a;
          border-bottom: 1px solid #E5E5E5;
          font-size: 1rem;
          line-height: 1.5;
          padding: 1.75rem;

          @media only screen and (max-width: 40em) {
            font-size: 0.875rem;
            padding: 1rem;
          }

          span {
            display: inline-block;
            white-space: nowrap;
            border-radius: 100rem;
            border: 1px solid #dae2f6;
            padding: .25rem 1.375rem;
            color: #4f72cc;
            margin-bottom: 0.375rem;

            @media only screen and (max-width: 40em) {
              width: 10.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    .symptoms {
      ul {
        margin: 2.5rem 0;

        @media only screen and (max-width: 40em) {
          margin: 1rem 0;
        }

        li {
          padding: 0 1rem;

          @media only screen and (max-width: 40em) {
            width: 100%;
            margin-bottom: 1rem;
          }

          .wrap {
            background: white;
            padding: 2.5rem 0;

            p {
              font-size: 1.5rem;
            }

            img {
              margin-bottom: 2.5rem;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .faq-list {
    background: url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;

    @media only screen and (max-width: 64em) {
      padding: 2.5rem 1rem;
    }

    hgroup {
      margin: 1.5rem 0;

      h4 {
        color: white;
      }

      p {
        color: #757575;
      }
    }

    .list {
      margin-bottom: 4rem;

      @media only screen and (max-width: 64em) {
        margin-bottom: 1rem;
      }
    }

    .ask {
      position: relative !important;
      display: inline-block;
      left: auto !important;
      margin-left: 0 !important;

      @media only screen and (max-width: 40em) {
        display: inline-block !important;
      }
    }
  }

  .comments {
    background: #e6eaf0;
    padding-top: 4rem;
    padding-bottom: 5rem;
    margin-bottom: 9rem;

    @media only screen and (max-width: 64em) {
      padding: 2.5rem 1rem;
    }

    @media only screen and (max-height: 50em) {
      margin-bottom: 6.5rem;
    }

    @media only screen and (max-width: 40em) {
      margin-bottom: 7.5rem;
    }

    hgroup {
      margin-bottom: 3rem;
    }

    .comment-list {
      background: white;
      padding-top: 2.5rem;

      h5 {
        padding: 0 2.5rem;
        color: #262626;
        margin-bottom: 2.5rem;
        font-size: 1.75rem;

        @media only screen and (max-width: 40em) {
          font-size: 1.25rem;
          text-align: center;
          padding: 0;
          margin-bottom: 1.5rem;
        }
      }

      .mask {
        display: inline-block;
        width: 5.5rem;
        height: 5.5rem;
        overflow: hidden;
        border-radius: 100rem;

        @media only screen and (max-width: 64em) {
          margin-bottom: 1.5rem;
        }

        img {
          max-width: 100%;
          position: static;
        }
      }

      form {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #e5e5e5;

        .fields {
          padding: 0 2.5rem 0 0;

          @media only screen and (max-width: 64em) {
            padding: 0 1rem 0 0;
          }

          @media only screen and (max-width: 40em) {
            padding: 0 1rem;
          }
        }

        input, textarea {
          border: 1px solid #e5e5e5;
          border-radius: 25px;
          height: 50px;
          line-height: 1.5;
          padding: 0.875rem 1.5rem;
          box-shadow: none;

          &::-webkit-input-placeholder {color:#b8b8b8;}
          &::-moz-placeholder          {color:#b8b8b8;}
          &:-moz-placeholder           {color:#b8b8b8;}
          &:-ms-input-placeholder      {color:#b8b8b8;}
        }

        .socials {
          padding: 0.5rem 0;

          @media only screen and (max-width: 40em) {
            text-align: center;
            margin-bottom: 1rem;
            padding: 0;
          }

          span {
            color:#b8b8b8;
            vertical-align: middle;
            margin-right: 0.875rem;
          }

          a {
            display: inline-block;
            width: 2.125rem;
            height: 2.125rem;
            color: white;
            line-height: 2.125rem;
            font-size: 1.25rem;
            text-align: center;
            border-radius: 100rem;

            &.fb {
              background: #4f67a4;
            }

            &.tw {
              background: #1ab2f0;
            }

            &.gp {
              background: #e53343;
            }
          }
        }
      }

      ul {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        li {
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;

          .comment-wrap {
            padding: 0 2.5rem 0 0;
            line-height: 1.5;

            @media only screen and (max-width: 64em) {
              padding: 0 1rem 0 0;
            }

            @media only screen and (max-width: 40em) {
              padding: 0 1rem;
            }

            .user {
              font-family: 'Geometria-Medium';
              margin-bottom: 0.5rem;

              span {
                font-size: 0.875rem;
                font-family: 'Geometria-Light';
                color: #b8b8b8;
              }
            }
          }
        }
      } 
    } 
  }
}
