/* line 1, ../sass/layout.scss */
html, body {
  font-family: 'Geometria-Light';
  min-width: 20rem;
}
/* line 5, ../sass/layout.scss */
html #preloader, body #preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: url(../img/preloader.gif) no-repeat center center white;
}
/* line 16, ../sass/layout.scss */
html .fa, body .fa {
  color: white;
  transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
}
/* line 21, ../sass/layout.scss */
html .centered, body .centered {
  text-align: center;
}
/* line 25, ../sass/layout.scss */
html .inline, body .inline {
  display: inline-block;
}
/* line 29, ../sass/layout.scss */
html .vertical-centered, body .vertical-centered {
  display: table-cell;
  vertical-align: middle;
}
/* line 34, ../sass/layout.scss */
html .x-template, body .x-template {
  display: none;
}
/* line 38, ../sass/layout.scss */
html button, html select, html input, html a, body button, body select, body input, body a {
  outline: none;
}
/* line 41, ../sass/layout.scss */
html button:hover, html select:hover, html input:hover, html a:hover, body button:hover, body select:hover, body input:hover, body a:hover {
  outline: none;
}
/* line 45, ../sass/layout.scss */
html button:focus, html select:focus, html input:focus, html a:focus, body button:focus, body select:focus, body input:focus, body a:focus {
  outline: none;
}
/* line 49, ../sass/layout.scss */
html button:before, html select:before, html input:before, html a:before, body button:before, body select:before, body input:before, body a:before {
  display: none;
}
/* line 54, ../sass/layout.scss */
html .off-canvas-wrap, body .off-canvas-wrap {
  background: #121318;
}
/* line 58, ../sass/layout.scss */
html .right-off-canvas-menu, body .right-off-canvas-menu {
  background: #121318;
  height: 100vh;
}
/* line 62, ../sass/layout.scss */
html .right-off-canvas-menu.off-canvas-sidemenu, body .right-off-canvas-menu.off-canvas-sidemenu {
  width: 27rem;
}
/* line 66, ../sass/layout.scss */
html .right-off-canvas-menu.off-canvas-feedback, body .right-off-canvas-menu.off-canvas-feedback {
  width: 41rem;
}
/* line 70, ../sass/layout.scss */
html .right-off-canvas-menu.off-canvas-question, body .right-off-canvas-menu.off-canvas-question {
  width: 48.5rem;
}
@media only screen and (max-width: 64em) {
  /* line 75, ../sass/layout.scss */
  html .right-off-canvas-menu.off-canvas-feedback, html .right-off-canvas-menu.off-canvas-question, body .right-off-canvas-menu.off-canvas-feedback, body .right-off-canvas-menu.off-canvas-question {
    width: 31rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 81, ../sass/layout.scss */
  html .right-off-canvas-menu.off-canvas-sidemenu, html .right-off-canvas-menu.off-canvas-feedback, html .right-off-canvas-menu.off-canvas-question, body .right-off-canvas-menu.off-canvas-sidemenu, body .right-off-canvas-menu.off-canvas-feedback, body .right-off-canvas-menu.off-canvas-question {
    width: 15.625rem;
  }
}
/* line 86, ../sass/layout.scss */
html .right-off-canvas-menu hgroup, body .right-off-canvas-menu hgroup {
  padding: 3.75rem 3rem 0;
}
@media only screen and (max-width: 40em) {
  /* line 86, ../sass/layout.scss */
  html .right-off-canvas-menu hgroup, body .right-off-canvas-menu hgroup {
    padding: 1.75rem 1.25rem 0;
  }
}
@media only screen and (max-height: 50em) {
  /* line 86, ../sass/layout.scss */
  html .right-off-canvas-menu hgroup, body .right-off-canvas-menu hgroup {
    padding: 1.75rem 1.25rem 0;
  }
}
/* line 97, ../sass/layout.scss */
html .right-off-canvas-menu hgroup h2, body .right-off-canvas-menu hgroup h2 {
  font-size: 2.688rem;
  color: white;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 40em) {
  /* line 97, ../sass/layout.scss */
  html .right-off-canvas-menu hgroup h2, body .right-off-canvas-menu hgroup h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 97, ../sass/layout.scss */
  html .right-off-canvas-menu hgroup h2, body .right-off-canvas-menu hgroup h2 {
    font-size: 1.5rem;
  }
}
/* line 111, ../sass/layout.scss */
html .right-off-canvas-menu hgroup p, body .right-off-canvas-menu hgroup p {
  color: white;
  opacity: .45;
}
@media only screen and (max-width: 40em) {
  /* line 111, ../sass/layout.scss */
  html .right-off-canvas-menu hgroup p, body .right-off-canvas-menu hgroup p {
    font-size: 0.875rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 111, ../sass/layout.scss */
  html .right-off-canvas-menu hgroup p, body .right-off-canvas-menu hgroup p {
    font-size: 0.875rem;
  }
}
/* line 126, ../sass/layout.scss */
html .right-off-canvas-menu form input[type="submit"], body .right-off-canvas-menu form input[type="submit"] {
  padding: 1.157rem 3rem;
}
@media only screen and (max-width: 40em) {
  /* line 126, ../sass/layout.scss */
  html .right-off-canvas-menu form input[type="submit"], body .right-off-canvas-menu form input[type="submit"] {
    padding: 0.754rem 2rem;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 126, ../sass/layout.scss */
  html .right-off-canvas-menu form input[type="submit"], body .right-off-canvas-menu form input[type="submit"] {
    padding: 0.754rem 2rem;
    margin-top: 0.5rem;
  }
}
/* line 141, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form, body .right-off-canvas-menu .feedback-form {
  padding: 2rem 2rem 0;
}
@media only screen and (max-width: 40em) {
  /* line 141, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form, body .right-off-canvas-menu .feedback-form {
    padding: 1rem 0.25rem 0;
  }
}
@media only screen and (max-height: 50em) {
  /* line 141, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form, body .right-off-canvas-menu .feedback-form {
    padding: 1rem 0.25rem 0;
  }
}
/* line 152, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form input[type="text"], html .right-off-canvas-menu .feedback-form input[type="email"], html .right-off-canvas-menu .feedback-form textarea, html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form input[type="text"], body .right-off-canvas-menu .feedback-form input[type="email"], body .right-off-canvas-menu .feedback-form textarea, body .right-off-canvas-menu .feedback-form select {
  border: 1px solid #2a2b30;
  background: transparent;
  color: white;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 40em) {
  /* line 152, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form input[type="text"], html .right-off-canvas-menu .feedback-form input[type="email"], html .right-off-canvas-menu .feedback-form textarea, html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form input[type="text"], body .right-off-canvas-menu .feedback-form input[type="email"], body .right-off-canvas-menu .feedback-form textarea, body .right-off-canvas-menu .feedback-form select {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 152, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form input[type="text"], html .right-off-canvas-menu .feedback-form input[type="email"], html .right-off-canvas-menu .feedback-form textarea, html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form input[type="text"], body .right-off-canvas-menu .feedback-form input[type="email"], body .right-off-canvas-menu .feedback-form textarea, body .right-off-canvas-menu .feedback-form select {
    margin-bottom: 0.5rem;
  }
}
/* line 166, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form input[type="text"]::-webkit-input-placeholder, html .right-off-canvas-menu .feedback-form input[type="email"]::-webkit-input-placeholder, html .right-off-canvas-menu .feedback-form textarea::-webkit-input-placeholder, html .right-off-canvas-menu .feedback-form select::-webkit-input-placeholder, body .right-off-canvas-menu .feedback-form input[type="text"]::-webkit-input-placeholder, body .right-off-canvas-menu .feedback-form input[type="email"]::-webkit-input-placeholder, body .right-off-canvas-menu .feedback-form textarea::-webkit-input-placeholder, body .right-off-canvas-menu .feedback-form select::-webkit-input-placeholder {
  color: #ccc;
  opacity: .45;
  text-overflow: ellipsis;
}
/* line 167, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form input[type="text"]::-moz-placeholder, html .right-off-canvas-menu .feedback-form input[type="email"]::-moz-placeholder, html .right-off-canvas-menu .feedback-form textarea::-moz-placeholder, html .right-off-canvas-menu .feedback-form select::-moz-placeholder, body .right-off-canvas-menu .feedback-form input[type="text"]::-moz-placeholder, body .right-off-canvas-menu .feedback-form input[type="email"]::-moz-placeholder, body .right-off-canvas-menu .feedback-form textarea::-moz-placeholder, body .right-off-canvas-menu .feedback-form select::-moz-placeholder {
  color: #ccc;
  opacity: .45;
  text-overflow: ellipsis;
}
/* line 168, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form input[type="text"]:-moz-placeholder, html .right-off-canvas-menu .feedback-form input[type="email"]:-moz-placeholder, html .right-off-canvas-menu .feedback-form textarea:-moz-placeholder, html .right-off-canvas-menu .feedback-form select:-moz-placeholder, body .right-off-canvas-menu .feedback-form input[type="text"]:-moz-placeholder, body .right-off-canvas-menu .feedback-form input[type="email"]:-moz-placeholder, body .right-off-canvas-menu .feedback-form textarea:-moz-placeholder, body .right-off-canvas-menu .feedback-form select:-moz-placeholder {
  color: #ccc;
  opacity: .45;
  text-overflow: ellipsis;
}
/* line 169, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form input[type="text"]:-ms-input-placeholder, html .right-off-canvas-menu .feedback-form input[type="email"]:-ms-input-placeholder, html .right-off-canvas-menu .feedback-form textarea:-ms-input-placeholder, html .right-off-canvas-menu .feedback-form select:-ms-input-placeholder, body .right-off-canvas-menu .feedback-form input[type="text"]:-ms-input-placeholder, body .right-off-canvas-menu .feedback-form input[type="email"]:-ms-input-placeholder, body .right-off-canvas-menu .feedback-form textarea:-ms-input-placeholder, body .right-off-canvas-menu .feedback-form select:-ms-input-placeholder {
  color: #ccc;
  opacity: .45;
  text-overflow: ellipsis;
}
/* line 172, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form input[type="text"], html .right-off-canvas-menu .feedback-form input[type="email"], html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form input[type="text"], body .right-off-canvas-menu .feedback-form input[type="email"], body .right-off-canvas-menu .feedback-form select {
  height: 3.5rem;
  padding: 0 1rem;
}
@media only screen and (max-width: 40em) {
  /* line 172, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form input[type="text"], html .right-off-canvas-menu .feedback-form input[type="email"], html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form input[type="text"], body .right-off-canvas-menu .feedback-form input[type="email"], body .right-off-canvas-menu .feedback-form select {
    height: 2rem;
    padding: 0 0.5rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 172, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form input[type="text"], html .right-off-canvas-menu .feedback-form input[type="email"], html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form input[type="text"], body .right-off-canvas-menu .feedback-form input[type="email"], body .right-off-canvas-menu .feedback-form select {
    height: 2rem;
    padding: 0 0.5rem;
  }
}
/* line 187, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form textarea, body .right-off-canvas-menu .feedback-form textarea {
  padding: 1rem;
}
@media only screen and (max-width: 40em) {
  /* line 187, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form textarea, body .right-off-canvas-menu .feedback-form textarea {
    padding: 0.5rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 187, ../sass/layout.scss */
  html .right-off-canvas-menu .feedback-form textarea, body .right-off-canvas-menu .feedback-form textarea {
    padding: 0.5rem;
  }
}
/* line 199, ../sass/layout.scss */
html .right-off-canvas-menu .feedback-form select, body .right-off-canvas-menu .feedback-form select {
  color: rgba(255, 255, 255, 0.45);
}
/* line 204, ../sass/layout.scss */
html .right-off-canvas-menu .faq, body .right-off-canvas-menu .faq {
  margin-top: 3.75rem;
}
@media only screen and (max-width: 40em) {
  /* line 204, ../sass/layout.scss */
  html .right-off-canvas-menu .faq, body .right-off-canvas-menu .faq {
    margin-top: 1.75rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 204, ../sass/layout.scss */
  html .right-off-canvas-menu .faq, body .right-off-canvas-menu .faq {
    margin-top: 1.75rem;
  }
}
/* line 215, ../sass/layout.scss */
html .right-off-canvas-menu .faq .quest-label, body .right-off-canvas-menu .faq .quest-label {
  background: #404145;
  border-radius: 100rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
  display: inline-block;
  margin-left: 3rem;
}
@media only screen and (max-width: 40em) {
  /* line 215, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .quest-label, body .right-off-canvas-menu .faq .quest-label {
    margin-left: 1.25rem;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 215, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .quest-label, body .right-off-canvas-menu .faq .quest-label {
    margin-left: 1.25rem;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
  }
}
/* line 238, ../sass/layout.scss */
html .right-off-canvas-menu .faq .question p, body .right-off-canvas-menu .faq .question p {
  font-size: 1.75rem;
  color: white;
  line-height: 1.5;
  margin: 2rem 3rem;
}
@media only screen and (max-width: 40em) {
  /* line 238, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .question p, body .right-off-canvas-menu .faq .question p {
    font-size: 1.25rem;
    margin: 1rem 1.25rem;
    line-height: 1.25;
  }
}
@media only screen and (max-height: 50em) {
  /* line 238, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .question p, body .right-off-canvas-menu .faq .question p {
    font-size: 1.25rem;
    margin: 1rem 1.25rem;
    line-height: 1.25;
  }
}
/* line 258, ../sass/layout.scss */
html .right-off-canvas-menu .faq .answer, body .right-off-canvas-menu .faq .answer {
  background: #191a21;
  padding: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 40em) {
  /* line 258, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .answer, body .right-off-canvas-menu .faq .answer {
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 258, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .answer, body .right-off-canvas-menu .faq .answer {
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
  }
}
/* line 273, ../sass/layout.scss */
html .right-off-canvas-menu .faq .answer p, body .right-off-canvas-menu .faq .answer p {
  line-height: 1.5;
  color: white;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 40em) {
  /* line 273, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .answer p, body .right-off-canvas-menu .faq .answer p {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
  }
}
@media only screen and (max-height: 50em) {
  /* line 273, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .answer p, body .right-off-canvas-menu .faq .answer p {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
  }
}
/* line 292, ../sass/layout.scss */
html .right-off-canvas-menu .faq .helpful-form, body .right-off-canvas-menu .faq .helpful-form {
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 40em) {
  /* line 292, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .helpful-form, body .right-off-canvas-menu .faq .helpful-form {
    display: none;
  }
}
/* line 299, ../sass/layout.scss */
html .right-off-canvas-menu .faq .helpful-form span, body .right-off-canvas-menu .faq .helpful-form span {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  display: inline-block;
  color: white;
  line-height: 1.5;
}
@media only screen and (max-width: 40em) {
  /* line 299, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .helpful-form span, body .right-off-canvas-menu .faq .helpful-form span {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 299, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .helpful-form span, body .right-off-canvas-menu .faq .helpful-form span {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 319, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .helpful-form .btn-box, body .right-off-canvas-menu .faq .helpful-form .btn-box {
    padding: 0;
  }
}
@media only screen and (max-height: 50em) {
  /* line 319, ../sass/layout.scss */
  html .right-off-canvas-menu .faq .helpful-form .btn-box, body .right-off-canvas-menu .faq .helpful-form .btn-box {
    padding: 0;
  }
}
/* line 331, ../sass/layout.scss */
html .right-off-canvas-menu .off-canvas-list, body .right-off-canvas-menu .off-canvas-list {
  padding: 3.1rem 2.33rem 0;
}
@media only screen and (max-width: 40em) {
  /* line 331, ../sass/layout.scss */
  html .right-off-canvas-menu .off-canvas-list, body .right-off-canvas-menu .off-canvas-list {
    padding: 1.25rem 1rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 331, ../sass/layout.scss */
  html .right-off-canvas-menu .off-canvas-list, body .right-off-canvas-menu .off-canvas-list {
    padding: 1.25rem 1rem;
  }
}
/* line 342, ../sass/layout.scss */
html .right-off-canvas-menu .off-canvas-list li, body .right-off-canvas-menu .off-canvas-list li {
  margin-bottom: 0.67rem;
}
/* line 345, ../sass/layout.scss */
html .right-off-canvas-menu .off-canvas-list li a, body .right-off-canvas-menu .off-canvas-list li a {
  border: none;
  font-size: 2rem;
  color: white;
  transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
}
@media only screen and (max-width: 40em) {
  /* line 345, ../sass/layout.scss */
  html .right-off-canvas-menu .off-canvas-list li a, body .right-off-canvas-menu .off-canvas-list li a {
    font-size: 1.25rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 345, ../sass/layout.scss */
  html .right-off-canvas-menu .off-canvas-list li a, body .right-off-canvas-menu .off-canvas-list li a {
    font-size: 1.25rem;
  }
}
/* line 359, ../sass/layout.scss */
html .right-off-canvas-menu .off-canvas-list li a:hover, body .right-off-canvas-menu .off-canvas-list li a:hover {
  background: none;
  color: #466fd9;
}
/* line 363, ../sass/layout.scss */
html .right-off-canvas-menu .off-canvas-list li a:hover .fa, body .right-off-canvas-menu .off-canvas-list li a:hover .fa {
  color: #466fd9;
}
/* line 372, ../sass/layout.scss */
html header, html footer, html .exit-off-canvas, html #fp-nav, html aside, html .inner-wrap, body header, body footer, body .exit-off-canvas, body #fp-nav, body aside, body .inner-wrap {
  transition: margin-left 500ms ease 0s, right 500ms ease 0s !important;
}
/* line 377, ../sass/layout.scss */
html #fp-nav.right.off-canvas-sidemenu, body #fp-nav.right.off-canvas-sidemenu {
  right: calc(3.75rem + 27rem) !important;
}
/* line 381, ../sass/layout.scss */
html #fp-nav.right.off-canvas-feedback, body #fp-nav.right.off-canvas-feedback {
  right: calc(3.75rem + 41rem) !important;
}
/* line 385, ../sass/layout.scss */
html #fp-nav.right.off-canvas-question, body #fp-nav.right.off-canvas-question {
  right: calc(3.75rem + 48.5rem) !important;
}
@media only screen and (max-width: 64em) {
  /* line 390, ../sass/layout.scss */
  html #fp-nav.right.off-canvas-sidemenu, body #fp-nav.right.off-canvas-sidemenu {
    right: calc(2.5rem + 27rem) !important;
  }
  /* line 394, ../sass/layout.scss */
  html #fp-nav.right.off-canvas-feedback, html #fp-nav.right.off-canvas-question, body #fp-nav.right.off-canvas-feedback, body #fp-nav.right.off-canvas-question {
    right: calc(2.5rem + 31rem) !important;
  }
}
@media only screen and (max-height: 50em) {
  /* line 400, ../sass/layout.scss */
  html #fp-nav.right.off-canvas-sidemenu, body #fp-nav.right.off-canvas-sidemenu {
    right: calc(2.5rem + 27rem) !important;
  }
  /* line 404, ../sass/layout.scss */
  html #fp-nav.right.off-canvas-feedback, html #fp-nav.right.off-canvas-question, body #fp-nav.right.off-canvas-feedback, body #fp-nav.right.off-canvas-question {
    right: calc(2.5rem + 31rem) !important;
  }
}
/* line 410, ../sass/layout.scss */
html .move-left > .inner-wrap, html header, html footer, html .exit-off-canvas, html #fp-nav, html .right-off-canvas-menu, body .move-left > .inner-wrap, body header, body footer, body .exit-off-canvas, body #fp-nav, body .right-off-canvas-menu {
  transform: translate3d(0, 0, 0) !important;
}
/* line 413, ../sass/layout.scss */
html .move-left > .inner-wrap.right-off-canvas-menu, html header.right-off-canvas-menu, html footer.right-off-canvas-menu, html .exit-off-canvas.right-off-canvas-menu, html #fp-nav.right-off-canvas-menu, html .right-off-canvas-menu.right-off-canvas-menu, body .move-left > .inner-wrap.right-off-canvas-menu, body header.right-off-canvas-menu, body footer.right-off-canvas-menu, body .exit-off-canvas.right-off-canvas-menu, body #fp-nav.right-off-canvas-menu, body .right-off-canvas-menu.right-off-canvas-menu {
  transform: translate3d(100%, 0, 0) !important;
}
/* line 417, ../sass/layout.scss */
html .move-left > .inner-wrap.off-canvas-sidemenu, html header.off-canvas-sidemenu, html footer.off-canvas-sidemenu, html .exit-off-canvas.off-canvas-sidemenu, html #fp-nav.off-canvas-sidemenu, html .right-off-canvas-menu.off-canvas-sidemenu, body .move-left > .inner-wrap.off-canvas-sidemenu, body header.off-canvas-sidemenu, body footer.off-canvas-sidemenu, body .exit-off-canvas.off-canvas-sidemenu, body #fp-nav.off-canvas-sidemenu, body .right-off-canvas-menu.off-canvas-sidemenu {
  margin-left: -27rem;
}
/* line 421, ../sass/layout.scss */
html .move-left > .inner-wrap.off-canvas-feedback, html header.off-canvas-feedback, html footer.off-canvas-feedback, html .exit-off-canvas.off-canvas-feedback, html #fp-nav.off-canvas-feedback, html .right-off-canvas-menu.off-canvas-feedback, body .move-left > .inner-wrap.off-canvas-feedback, body header.off-canvas-feedback, body footer.off-canvas-feedback, body .exit-off-canvas.off-canvas-feedback, body #fp-nav.off-canvas-feedback, body .right-off-canvas-menu.off-canvas-feedback {
  margin-left: -41rem;
}
/* line 425, ../sass/layout.scss */
html .move-left > .inner-wrap.off-canvas-question, html header.off-canvas-question, html footer.off-canvas-question, html .exit-off-canvas.off-canvas-question, html #fp-nav.off-canvas-question, html .right-off-canvas-menu.off-canvas-question, body .move-left > .inner-wrap.off-canvas-question, body header.off-canvas-question, body footer.off-canvas-question, body .exit-off-canvas.off-canvas-question, body #fp-nav.off-canvas-question, body .right-off-canvas-menu.off-canvas-question {
  margin-left: -48.5rem;
}
@media only screen and (max-width: 64em) {
  /* line 430, ../sass/layout.scss */
  html .move-left > .inner-wrap.off-canvas-feedback, html .move-left > .inner-wrap.off-canvas-question, html header.off-canvas-feedback, html header.off-canvas-question, html footer.off-canvas-feedback, html footer.off-canvas-question, html .exit-off-canvas.off-canvas-feedback, html .exit-off-canvas.off-canvas-question, html #fp-nav.off-canvas-feedback, html #fp-nav.off-canvas-question, html .right-off-canvas-menu.off-canvas-feedback, html .right-off-canvas-menu.off-canvas-question, body .move-left > .inner-wrap.off-canvas-feedback, body .move-left > .inner-wrap.off-canvas-question, body header.off-canvas-feedback, body header.off-canvas-question, body footer.off-canvas-feedback, body footer.off-canvas-question, body .exit-off-canvas.off-canvas-feedback, body .exit-off-canvas.off-canvas-question, body #fp-nav.off-canvas-feedback, body #fp-nav.off-canvas-question, body .right-off-canvas-menu.off-canvas-feedback, body .right-off-canvas-menu.off-canvas-question {
    margin-left: -31rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 436, ../sass/layout.scss */
  html .move-left > .inner-wrap.off-canvas-sidemenu, html .move-left > .inner-wrap.off-canvas-feedback, html .move-left > .inner-wrap.off-canvas-question, html header.off-canvas-sidemenu, html header.off-canvas-feedback, html header.off-canvas-question, html footer.off-canvas-sidemenu, html footer.off-canvas-feedback, html footer.off-canvas-question, html .exit-off-canvas.off-canvas-sidemenu, html .exit-off-canvas.off-canvas-feedback, html .exit-off-canvas.off-canvas-question, html #fp-nav.off-canvas-sidemenu, html #fp-nav.off-canvas-feedback, html #fp-nav.off-canvas-question, html .right-off-canvas-menu.off-canvas-sidemenu, html .right-off-canvas-menu.off-canvas-feedback, html .right-off-canvas-menu.off-canvas-question, body .move-left > .inner-wrap.off-canvas-sidemenu, body .move-left > .inner-wrap.off-canvas-feedback, body .move-left > .inner-wrap.off-canvas-question, body header.off-canvas-sidemenu, body header.off-canvas-feedback, body header.off-canvas-question, body footer.off-canvas-sidemenu, body footer.off-canvas-feedback, body footer.off-canvas-question, body .exit-off-canvas.off-canvas-sidemenu, body .exit-off-canvas.off-canvas-feedback, body .exit-off-canvas.off-canvas-question, body #fp-nav.off-canvas-sidemenu, body #fp-nav.off-canvas-feedback, body #fp-nav.off-canvas-question, body .right-off-canvas-menu.off-canvas-sidemenu, body .right-off-canvas-menu.off-canvas-feedback, body .right-off-canvas-menu.off-canvas-question {
    margin-left: -15.625rem;
  }
}
/* line 444, ../sass/layout.scss */
html header.off-canvas-sidemenu .fa-bars, html header.off-canvas-feedback .fa-bars, html header.off-canvas-question .fa-bars, body header.off-canvas-sidemenu .fa-bars, body header.off-canvas-feedback .fa-bars, body header.off-canvas-question .fa-bars {
  opacity: 0;
}
/* line 450, ../sass/layout.scss */
html .exit-off-canvas, body .exit-off-canvas {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 459, ../sass/layout.scss */
html .exit-off-canvas.width, body .exit-off-canvas.width {
  width: 100%;
}
/* line 463, ../sass/layout.scss */
html .exit-off-canvas.off-canvas-sidemenu, html .exit-off-canvas.off-canvas-feedback, html .exit-off-canvas.off-canvas-question, body .exit-off-canvas.off-canvas-sidemenu, body .exit-off-canvas.off-canvas-feedback, body .exit-off-canvas.off-canvas-question {
  z-index: 10000;
}
/* line 467, ../sass/layout.scss */
html .exit-off-canvas .fa, body .exit-off-canvas .fa {
  position: absolute;
  top: 3.5rem;
  right: 3.8rem;
  font-size: 2.5rem;
}
@media only screen and (max-width: 64em) {
  /* line 467, ../sass/layout.scss */
  html .exit-off-canvas .fa, body .exit-off-canvas .fa {
    top: 2.2rem;
    right: 2.55rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 467, ../sass/layout.scss */
  html .exit-off-canvas .fa, body .exit-off-canvas .fa {
    top: 2.2rem;
    right: 2.55rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 467, ../sass/layout.scss */
  html .exit-off-canvas .fa, body .exit-off-canvas .fa {
    top: 1.1rem !important;
    right: 1.33rem !important;
  }
}
/* line 489, ../sass/layout.scss */
html .exit-off-canvas:hover, body .exit-off-canvas:hover {
  background: rgba(0, 0, 0, 0.75);
}
/* line 494, ../sass/layout.scss */
html .btn, body .btn {
  font-family: 'Geometria-Medium';
  text-transform: uppercase;
  font-size: .9375rem;
  letter-spacing: 1px;
  color: white;
  border-radius: 100rem;
  outline: none;
  transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
  cursor: pointer;
  display: inline-block;
}
@media only screen and (max-width: 40em) {
  /* line 494, ../sass/layout.scss */
  html .btn, body .btn {
    font-size: .8rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 494, ../sass/layout.scss */
  html .btn, body .btn {
    font-size: .8rem;
  }
}
/* line 514, ../sass/layout.scss */
html .btn.blue, body .btn.blue {
  border: 1px solid #466fd9;
  background: #466fd9;
  padding: 1.5rem;
  width: 100%;
  max-width: 22.5rem;
}
@media only screen and (max-width: 40em) {
  /* line 514, ../sass/layout.scss */
  html .btn.blue, body .btn.blue {
    width: auto;
    padding: 0.969rem 2rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 514, ../sass/layout.scss */
  html .btn.blue, body .btn.blue {
    width: auto;
    padding: 0.969rem 2rem;
  }
}
/* line 531, ../sass/layout.scss */
html .btn.blue:hover, body .btn.blue:hover {
  border: 1px solid #517ef0;
  background: #517ef0;
}
/* line 537, ../sass/layout.scss */
html .btn.transparent, body .btn.transparent {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.344rem 2.7rem;
  background: transparent;
  display: inline-block;
}
/* line 543, ../sass/layout.scss */
html .btn.transparent img, body .btn.transparent img {
  height: 1.375rem;
  vertical-align: middle;
  margin-right: 0.75rem;
}
/* line 549, ../sass/layout.scss */
html .btn.transparent:hover, body .btn.transparent:hover {
  border: 1px solid white;
}
/* line 555, ../sass/layout.scss */
html .wrapper, body .wrapper {
  height: 100%;
}
/* line 559, ../sass/layout.scss */
html header, body header {
  padding: 3rem 3.75rem 0;
  background: none;
  z-index: 100;
  height: auto;
  width: 100%;
  position: fixed;
}
@media only screen and (max-width: 64em) {
  /* line 559, ../sass/layout.scss */
  html header, body header {
    padding: 2rem 2.5rem 0;
  }
}
@media only screen and (max-height: 50em) {
  /* line 559, ../sass/layout.scss */
  html header, body header {
    padding: 2rem 2.5rem 0;
  }
}
@media only screen and (max-width: 40em) {
  /* line 559, ../sass/layout.scss */
  html header, body header {
    padding: 1rem 1.25rem 0 !important;
  }
}
/* line 579, ../sass/layout.scss */
html header .top-bar, body header .top-bar {
  background: none;
}
/* line 583, ../sass/layout.scss */
html header .name, body header .name {
  display: inline-block;
  background: url(../img/logo.png) no-repeat 0 50%;
  background-size: contain;
}
@media only screen and (min-width: 40.063em) {
  /* line 583, ../sass/layout.scss */
  html header .name, body header .name {
    height: 3.625rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 583, ../sass/layout.scss */
  html header .name, body header .name {
    height: 3rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 583, ../sass/layout.scss */
  html header .name, body header .name {
    background-size: auto;
  }
}
@media only screen and (max-width: 25em) {
  /* line 583, ../sass/layout.scss */
  html header .name, body header .name {
    background-size: contain;
  }
}
/* line 605, ../sass/layout.scss */
html header .right, body header .right {
  height: 3.625rem;
}
/* line 608, ../sass/layout.scss */
html header .right a, body header .right a {
  transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
}
@media only screen and (max-width: 40em) {
  /* line 612, ../sass/layout.scss */
  html header .right a.btn, body header .right a.btn {
    display: none;
  }
}
@media only screen and (max-height: 50em) {
  /* line 618, ../sass/layout.scss */
  html header .right a.btn, body header .right a.btn {
    padding: 0.035rem 2rem;
  }
}
/* line 623, ../sass/layout.scss */
html header .right a.toggle, body header .right a.toggle {
  position: relative;
  z-index: 1003;
  margin-left: 2rem;
}
@media only screen and (max-width: 40em) {
  /* line 623, ../sass/layout.scss */
  html header .right a.toggle, body header .right a.toggle {
    margin-left: 0;
  }
}
/* line 632, ../sass/layout.scss */
html header .right a.toggle:hover, body header .right a.toggle:hover {
  opacity: .4;
}
/* line 636, ../sass/layout.scss */
html header .right a.toggle .fa-bars, body header .right a.toggle .fa-bars {
  font-size: 2.5rem;
  vertical-align: middle;
}
/* line 645, ../sass/layout.scss */
html footer, body footer {
  padding: 0 3.75rem 3rem;
  bottom: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
}
@media only screen and (max-width: 64m) {
  /* line 645, ../sass/layout.scss */
  html footer, body footer {
    padding: 0 2.5rem 2rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 645, ../sass/layout.scss */
  html footer, body footer {
    padding: 0 2.5rem 2rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 645, ../sass/layout.scss */
  html footer, body footer {
    padding: 0 1.25rem 1rem !important;
  }
}
/* line 664, ../sass/layout.scss */
html footer .copyright, body footer .copyright {
  color: white;
  opacity: .45;
  padding: 0.813rem 0;
  float: right;
}
@media only screen and (max-width: 40em) {
  /* line 664, ../sass/layout.scss */
  html footer .copyright, body footer .copyright {
    text-align: center;
    float: none;
    font-size: 0.75rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 664, ../sass/layout.scss */
  html footer .copyright, body footer .copyright {
    font-size: 0.75rem;
  }
}
/* line 681, ../sass/layout.scss */
html footer .bottom-panel, body footer .bottom-panel {
  padding: 0;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 40em) {
  /* line 681, ../sass/layout.scss */
  html footer .bottom-panel, body footer .bottom-panel {
    text-align: center;
    float: none;
  }
}
/* line 691, ../sass/layout.scss */
html footer .bottom-panel ul, body footer .bottom-panel ul {
  display: inline-block;
}
/* line 694, ../sass/layout.scss */
html footer .bottom-panel ul li, body footer .bottom-panel ul li {
  float: left;
  margin-right: 1rem;
}
/* line 698, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop, body footer .bottom-panel ul li #topDrop {
  width: 10rem !important;
  top: -13rem !important;
  left: -3.75rem !important;
}
@media only screen and (max-width: 40em) {
  /* line 698, ../sass/layout.scss */
  html footer .bottom-panel ul li #topDrop, body footer .bottom-panel ul li #topDrop {
    left: -4.1rem !important;
  }
}
@media only screen and (max-height: 50em) {
  /* line 698, ../sass/layout.scss */
  html footer .bottom-panel ul li #topDrop, body footer .bottom-panel ul li #topDrop {
    left: -4.1rem !important;
  }
}
/* line 711, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop:before, body footer .bottom-panel ul li #topDrop:before {
  left: 50%;
  margin-left: -4px;
  bottom: -12px;
  top: auto;
  border: inset 6px;
  border-color: #fff transparent transparent transparent;
  border-top-style: solid;
  right: auto;
  z-index: 89;
}
/* line 723, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop:after, body footer .bottom-panel ul li #topDrop:after {
  left: 50%;
  margin-left: -5px;
  bottom: -14px;
  top: auto;
  border: inset 7px;
  border-color: #ccc transparent transparent transparent;
  border-top-style: solid;
  right: auto;
  z-index: 88;
}
/* line 735, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop a, html footer .bottom-panel ul li #topDrop label, body footer .bottom-panel ul li #topDrop a, body footer .bottom-panel ul li #topDrop label {
  height: 3rem;
  padding: 0;
  display: table;
  font-size: 1rem;
}
/* line 741, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop a.fb, html footer .bottom-panel ul li #topDrop label.fb, body footer .bottom-panel ul li #topDrop a.fb, body footer .bottom-panel ul li #topDrop label.fb {
  background: #4f69a2;
}
/* line 745, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop a.tw, html footer .bottom-panel ul li #topDrop label.tw, body footer .bottom-panel ul li #topDrop a.tw, body footer .bottom-panel ul li #topDrop label.tw {
  background: #66b4ef;
}
/* line 749, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop a.gp, html footer .bottom-panel ul li #topDrop label.gp, body footer .bottom-panel ul li #topDrop a.gp, body footer .bottom-panel ul li #topDrop label.gp {
  background: #e05d4d;
}
/* line 753, ../sass/layout.scss */
html footer .bottom-panel ul li #topDrop a.pn, html footer .bottom-panel ul li #topDrop label.pn, body footer .bottom-panel ul li #topDrop a.pn, body footer .bottom-panel ul li #topDrop label.pn {
  background: #d1373d;
}
/* line 759, ../sass/layout.scss */
html footer .bottom-panel ul li:last-of-type, body footer .bottom-panel ul li:last-of-type {
  margin-right: 0;
}
/* line 763, ../sass/layout.scss */
html footer .bottom-panel ul li .panel-element, body footer .bottom-panel ul li .panel-element {
  vertical-align: middle;
  height: 2.625rem;
  width: 2.625rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transition: background 300ms ease-out, border 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
}
@media only screen and (max-width: 40em) {
  /* line 763, ../sass/layout.scss */
  html footer .bottom-panel ul li .panel-element, body footer .bottom-panel ul li .panel-element {
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 763, ../sass/layout.scss */
  html footer .bottom-panel ul li .panel-element, body footer .bottom-panel ul li .panel-element {
    height: 2rem;
    width: 2rem;
  }
}
/* line 783, ../sass/layout.scss */
html footer .bottom-panel ul li .panel-element:hover, body footer .bottom-panel ul li .panel-element:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* line 787, ../sass/layout.scss */
html footer .bottom-panel ul li .panel-element img, body footer .bottom-panel ul li .panel-element img {
  height: 1.5rem;
  top: 0.5rem;
}
@media only screen and (max-width: 40em) {
  /* line 787, ../sass/layout.scss */
  html footer .bottom-panel ul li .panel-element img, body footer .bottom-panel ul li .panel-element img {
    height: 1.15rem;
    top: 0.35rem;
  }
}
@media only screen and (max-height: 50em) {
  /* line 787, ../sass/layout.scss */
  html footer .bottom-panel ul li .panel-element img, body footer .bottom-panel ul li .panel-element img {
    height: 1.15rem;
    top: 0.35rem;
  }
}
/* line 802, ../sass/layout.scss */
html footer .bottom-panel ul li .panel-element .fa, body footer .bottom-panel ul li .panel-element .fa {
  font-size: 1.5rem;
  line-height: 1.7;
}
@media only screen and (max-width: 40em) {
  /* line 802, ../sass/layout.scss */
  html footer .bottom-panel ul li .panel-element .fa, body footer .bottom-panel ul li .panel-element .fa {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}
@media only screen and (max-height: 50em) {
  /* line 802, ../sass/layout.scss */
  html footer .bottom-panel ul li .panel-element .fa, body footer .bottom-panel ul li .panel-element .fa {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

/* line 823, ../sass/layout.scss */
#threats, #virus, #file, #uninstall-guide, #terms, #cloud, #return-policy {
  height: auto;
  background: #0e1016;
}
/* line 827, ../sass/layout.scss */
#threats header, #threats footer, #virus header, #virus footer, #file header, #file footer, #uninstall-guide header, #uninstall-guide footer, #terms header, #terms footer, #cloud header, #cloud footer, #return-policy header, #return-policy footer {
  position: absolute;
}
/* line 831, ../sass/layout.scss */
#threats footer, #virus footer, #file footer, #uninstall-guide footer, #terms footer, #cloud footer, #return-policy footer {
  bottom: 0;
}
/* line 835, ../sass/layout.scss */
#threats .search, #threats .file-name, #virus .search, #virus .file-name, #file .search, #file .file-name, #uninstall-guide .search, #uninstall-guide .file-name, #terms .search, #terms .file-name, #cloud .search, #cloud .file-name, #return-policy .search, #return-policy .file-name {
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 12.5rem;
}
@media only screen and (max-height: 50em) {
  /* line 835, ../sass/layout.scss */
  #threats .search, #threats .file-name, #virus .search, #virus .file-name, #file .search, #file .file-name, #uninstall-guide .search, #uninstall-guide .file-name, #terms .search, #terms .file-name, #cloud .search, #cloud .file-name, #return-policy .search, #return-policy .file-name {
    padding-top: 8rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 835, ../sass/layout.scss */
  #threats .search, #threats .file-name, #virus .search, #virus .file-name, #file .search, #file .file-name, #uninstall-guide .search, #uninstall-guide .file-name, #terms .search, #terms .file-name, #cloud .search, #cloud .file-name, #return-policy .search, #return-policy .file-name {
    padding-top: 6rem !important;
  }
}
/* line 848, ../sass/layout.scss */
#threats .search h3, #threats .file-name h3, #virus .search h3, #virus .file-name h3, #file .search h3, #file .file-name h3, #uninstall-guide .search h3, #uninstall-guide .file-name h3, #terms .search h3, #terms .file-name h3, #cloud .search h3, #cloud .file-name h3, #return-policy .search h3, #return-policy .file-name h3 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 3rem;
  line-height: 1.5;
}
@media only screen and (max-width: 40em) {
  /* line 848, ../sass/layout.scss */
  #threats .search h3, #threats .file-name h3, #virus .search h3, #virus .file-name h3, #file .search h3, #file .file-name h3, #uninstall-guide .search h3, #uninstall-guide .file-name h3, #terms .search h3, #terms .file-name h3, #cloud .search h3, #cloud .file-name h3, #return-policy .search h3, #return-policy .file-name h3 {
    font-size: 1.8rem;
  }
}
